{% if form.non_field_errors %}<div class="notice error" role="alert">{{ form.non_field_errors }}</div>{% endif %}
{% for field in form %}
  {% if field.is_hidden %}{{ field }}{{ field.errors }}{% else %}
  <div class="field"><label for="{{ field.id_for_label }}">{{ field.label }}{% if not field.field.required %} <span class="optional">opcional</span>{% endif %}</label>{{ field }}{% if field.help_text %}<small class="help">{{ field.help_text }}</small>{% endif %}{{ field.errors }}</div>
  {% endif %}
{% endfor %}
